---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import Education from "@/components/Education.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import School from "@/components/icons/School.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Portafolio de Kris - Desarrollador y Programador Web en proceso"
  description="Hola, soy Kris, un apasionado del desarrollo web y la programación. Aquí encontrarás mi portafolio con proyectos y experiencias que reflejan mi trayectoria en el mundo del código."
>
  <main class="px-4">
    <!-- Hero -->
    <SectionContainer id="inicio" class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">

    <!-- Experiencia -->
    <!--
    <SectionContainer id="experiencia">
      <TitleSection>
      <Briefcase class="size-8" />
      Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>
    -->

    <!-- Proyectos -->
    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <!-- Sobre mí -->
    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-7" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <!-- Educación -->
    <SectionContainer id="educacion">
      <TitleSection>
        <School class="size-7" />
        Educación
      </TitleSection>
      <Education />
    </SectionContainer>
  </div>
  </main>
</Layout>
