---
 const personalImageAlt = "Kris"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Kristoffer Van Steemberghe Luján pero mis amigos me llaman Kris. Empecé en la
      programación desde que tenía 14 años. Actualmente estoy <strong
        >especializandome en el desarrollo web</strong
      >.
    </p>

    <p>
      Me gustaría destacar que durante el quinto semestre de mi licenciatura, desarrollé mi <strong
        >primera aplicación web fullstack</strong
      >, la cual era un sistema CRM para pequeñas empresas. Las tecnologías que utilicé fueron: <strong>React, NextJS, MOngoDB, Apollo y GraphQL</strong>.
      Fue un proyecto de 3 meses donde lidere un equipo de 5 personas.
    </p>

    <p>
      Además, participé en el hackaton de mi universidad en el cual desarrollé una <strong
        >aplicación móvil utilizando Swift</strong
      >.
    </p>
  </div>

  <img width="200" height="200" src="/kris.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>